server:
  port: 8080
spring:
    application:
        name: supermarket
    datasource:
        url: jdbc:mysql://127.0.0.1:3306/smbms?characterEncoding=UTF-8&useSSL=false
        username: root
        password: root
        driver-class-name: com.mysql.cj.jdbc.Driver